page-home {
    ion-card {
        width: 100% !important;
        margin: 0px !important;
    }
    
    .card-search {
        position: relative;
        text-align: center;
        margin: 0px !important;
        border-radius: 0px !important;
        width: 100% !important;
        // height: 80% !important;
    }
    .pages-card {
        position: relative;
        // position: absolute;        
        text-align: center;
        // margin: 0px !important;
        // padding: 0px !important;
        // border-radius: 0px !important;
        // width: 100% !important;
        height: 90px !important;
        
    }
    .item-md {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff !important;
        background-color: transparent !important;
    }
    .item {
        padding-left: 16px;
        padding-right: 0;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #fff !important;
        background-color: transparent !important;
    }
    .leader {
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 1.5em;
        // width: 80%;
        background: rgba(0,0,0,.5);
        line-height: 1.4;
        margin: 0 auto 10px auto;
        padding: 0 10px;
        color: #fff;
        font-weight: normal;
        display: table
    }
    .neader {
        position: absolute;
        top: 10%;
        // left: 10%;
        font-size: 2.0em;
        // width: 80%;
        background: rgba(0,0,0,.2);
        line-height: 1.4;
        margin: 0 auto 10px auto;
        padding: 0 10px;
        color: #fff;
        font-weight: normal;
        display: table
    }
    .search-content {
        
        position: absolute;
        top: 30%;
        left: 5%;
        font-size: 2.0em;
        width: 90%;
        background: rgba(0,0,0,.5);
        line-height: 1.4;
        margin: 0 auto 10px auto;
        padding: 0 10px;
        color: #fff;
        font-weight: normal;
        display: table
    }
    // .card-title {
    //     position: absolute;
    //     top: 36%;
    //     font-size: 2.0em;
    //     width: 100%;
    //     font-weight: bold;
    //     color: #fff;
    // }
    // .card-subtitle {
    //     font-size: 1.0em;
    //     position: absolute;
    //     top: 52%;
    //     width: 100%;
    //     color: #fff;
    // }      
 
    
}
